/* Estilo general */
body {
   font-family: "Barlow", sans-serif;
    font-weight: 100;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
  }
  
  /* Header */
  header {
    background-color: #4CAF50;
    color: white;
    padding: 15px 0;
    text-align: center;
    font-size: 1.5em;
  }

  .navbar{
    margin-bottom: 0;
    background-color: hsl(91, 35%, 67%);
    padding: 20px;
    text-align: center;
    }

        .navbar a{
            text-decoration: none;
            color: #000;
            margin-right: 40px;
        }
        .navbar a:hover{
            background-color: #000;
            color: #fff;
        }
  
  /* Contenedor del gráfico */
  .chart-container {
    max-width: 900px;
    margin: 20px auto;
    padding: 10px;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  canvas {
    max-width: 100%;
    height: auto;
  }
  
  /* Ajuste responsivo */
  @media (max-width: 600px) {
    header {
      font-size: 1.2em;
    }
  
    .chart-container {
      padding: 5px;
    }
  }
  